#App {
  text-align: left;
}

#AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position:absolute;
  margin-top: 45px;
  margin-left: 0px;
}
.Navlink{
  font-size: 3%;
}
#AppHeader {
  background-color: green;
  height: 200px;
  padding: 20px;
  color: white;
  margin-top: -18px;
  padding-bottom: 80px;
}
#navbarsection{
  display: flex;
}
#appdescription{
  padding-top: 20px;
}
#roolettBackground {
  margin-top: 0px;
  margin-left: -20px;
  height: 180px;
}
#PRheader{
  margin-left: 400px;
  margin-top: -158px;
  Font-size: 170px;
}
.container-fluid{
  width: 2%;
  height: 20%;
  margin-left: .25%;
  color: black;
}
.navbar {
  width: 10%;
  height: 20%;
  margin-left: 3%;

  
}
#contentDiv{
  align-content: left;
}
.petroolettetext {
  Text-align: left;
  color: black;
}

/* #footer{
  
} */



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
